body {
    font-family: 'Work Sans', sans-serif;
    background-color: #DAF7A6;
    
}

h1 {
    font-family: 'Prata', serif;
}

.nav {
    background-color: #DAF7A6;
    text-size: 16px; 
    border-radius: 2px;
    font-weight: bold;
}